
/* Sección de héroe */

.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-primary);
    padding: 60px 8%;

    overflow: hidden;
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-family: var(--font-title);
    font-size: 100px;
    color: var(--color-background);
    margin-bottom: 10px;
}

.hero-content p {
    font-family: var(--font-body);
    font-size: 20px;
    color: var(--color-background);
    margin-bottom: 30px;
}

.hero-button {
    display: inline-block;

    padding: 14px 28px;

    background-color: var(--color-dark);
    color: var(--color-background);

    text-decoration: none;
    font-weight: bold;

    border-radius: var(--radius);
}

.hero-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.hero-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

/* Sección de productos destacados */

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    margin: 40px 8%;
}

.producto-card {
    background: white;
    overflow: hidden;
    border-radius: var(--radius-img);

    /* Separación interna */
    padding-bottom: 10px;
}

.producto-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    display: block;

}

.productos{

    margin-top: 50px;
    margin-bottom: 50px;
}


.producto-info {
    padding: 12px 15px;
    
}




/* Botón de catálogo completo */

.catalogo-button {
    display: block;
    width: fit-content;
    margin: 40px auto 0;

    padding: 14px 28px;

    background-color: var(--color-primary);
    color: var(--color-background);

    text-decoration: none;
    font-weight: bold;

    border-radius: var(--radius);
}

.catalogo-button:hover {
    background-color: var(--color-secondary);
}


h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    font-family: var(--font-main);
}   

h3,p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}